{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}
<h1 class="main-title">Welcome to the electronic training diary</h1>
<div class="description">
    <ul class="description-list">
        <li class="description-item">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum natus quis consectetur autem, quibusdam
                molestiae vitae eaque. In, laboriosam soluta?</p>
        </li>
        <li class="description-item">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt suscipit sunt expedita officia ut
                architecto eveniet ab ratione. Reiciendis ratione perferendis ea ex eveniet debitis porro harum, nostrum
                culpa dolor.</p>
        </li class="description-item">
        <li class="description-item">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex doloribus neque, odio vitae consectetur
                aperiam?</p>
        </li>
        <li class="description-item">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum reiciendis id voluptas quasi ipsa omnis
                non, facere eligendi, debitis harum sapiente corporis, labore pariatur ut?</p>
        </li>
    </ul>
</div>
<h2>{{name}}</h2>

{% endblock %}