.choice-trainings {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.choice-trainings button {
    padding: 10px 15px;
}

.form-create-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

label {
    font-size: 20px;
    margin: 20px 0px;
    align-items: center;
}

.form-create-group label .kilometres {
    font-size: 20px;
    width: 40px;
    outline: none;
}

.create-button {
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;
}

.button-active {
    background-color: blue;
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 20px;
    resize: none;
    outline: none;
}

.time {
    height: 25px;
    align-items: center;
    outline: none;
}

.form-create-group label input[text]{
    height: 25px;
}

.two-items {
    display: flex;
}

.two-items * {
    margin: 0 2px;
}